
@{
    ViewBag.Title = "Cabinet";
}
<link href="/Content/common.css" rel="stylesheet">
<h2>Кабинет пользователя</h2>

<hr/>


<h3 style="color: #68aa90;">
@ViewBag.usn
</h3>


@Html.ActionLink("Мои компании", "MyCompanies")<br>
@Html.ActionLink("Мои резюме", "MyResumes")<br>
@if (ViewBag.us == "" || ViewBag.us == " " || ViewBag.us == null)
{
    <a style="color: brown; text-decoration: none;">Закладки</a><br>
}
else
{
    @Html.ActionLink("Закладки", "VacancyMarks")<br>
}
@Html.ActionLink("Выход", "Logoff", "Account")

