
@{
    ViewBag.Title = "Cabinet";
}
<link href="/Content/common.css" rel="stylesheet">
<h2>Кабинет пользователя</h2>

<hr/>


<h3 style="color: #68aa90;">
@ViewBag.usn
</h3>


@Html.ActionLink("Мои компании", "MyCompanies" , "Company")<br>
@Html.ActionLink("Мои резюме", "MyResumes" , "Resume")<br>
@if (ViewBag.us == "" || ViewBag.us == " " || ViewBag.us == null)
 {
     <a style="color: brown; text-decoration: none;">Закладки вакансий</a><br>
 }
 else
 {
     @Html.ActionLink("Закладки вакансий", "VacancyMarks" , "Vacancy")<br>
 }
@if (ViewBag.rs == "" || ViewBag.rs == " " || ViewBag.rs == null)
{
    <a style="color: brown; text-decoration: none;">Закладки резюме</a><br>
}
else
{
    @Html.ActionLink("Закладки резюме", "ResumeMarks" , "Resume")<br>
}
@Html.ActionLink("Выход", "Logoff", "Account")

